nav(role='navigation')
  a(href='#', data-action="sign-in") Sign In

  h2 For all browser other than IE 9+
  img#blur(src="images/bosnia.jpg")

  h2 Circle image
  img(src="images/bosnia.jpg" class="circle")

  h2 For IE 9+
  canvas#canvas(width="300", height="300")

  //#map