body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

body::after
  content: ""
  background: url('/images/tacoprichilirrito-pattern.png')
  background-repeat: repeat-x
  opacity: 0.7
  top: 0
  left: 0
  bottom: 0
  right: 0
  position: absolute
  z-index: -1

a
  color: #8C8888
  background-color: #FFF
  padding: 10px
  float: right

header
  width: 100%
  height: 200px

#map
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;

.circle
  border-radius: 50%
  border: 8px solid blueviolet
  width: 400px
  height: 400px

#blur {
  width: 800px
  filter: url(/images/blur.svg#blur)
  -webkit-filter: blur(3px)
  filter: blur(3px)
}